<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Abhishek</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/hiu.css" />
    <style type="text/css"></style>
  </head>

  <body>
    <header class="main_header">
      <div
        class="
          d-flex
          justify-content-center
          align-items-center
          flex-column
          py-5
        "
      >
        <h1 class="text-uppercase main_heading">Health Blog</h1>
        <p class="main_heading__para">
          Welcome to 
          <span class="text-capitalize bg-dark text-white py-2 px-3">
            world of health blog</span
          >
        </p>
      </div>
      <!-- //the main image -->
      <div
        class="
          main_header__div
          d-flex
          align-items-start
          justify-content-center
          flex-column
          shadow
          pl-5
        "
      >
        <p</p>
        <!-- <h2 class="text-uppercase">the Progammer guy</h2> -->
        <h2 class="animateWord">
        </h2>
    
      </div>
    </header>
    <!-- header ends -->
    <!-- two sided blog part starts -->
    <div class="container-fluid">
      <div class="row">
        <!-- to get the space form left and right -->
        <div class="col-xl-10 col-lg-10 col-md-12 col-11 mx-auto my-5">
          <div class="row gx-5 mx-sm-auto">
            <!-- left side of the blog  -->
            <div class="col-lg-8 col-md-11 col-11 mx-auto">
              <div class="row gy-5">
                <div class="col-12 card p-4 shadow blog_left__div">
                  <div
                    class="
                      d-flex
                      justify-content-center
                      align-items-center
                      flex-column
                      pt-3
                      pb-5
                    "
                  >
                    <h1 class="text-uppercase">White fungus and Black Fungus</h1>
                    <p class="blog_title">
                      <span class="font-weight-bold"> Title description, </span>
                      May 19, 2021
                    </p>
                  </div>
                  <figure class="right_side_img mb-5">
                    <img
                      src=""
                      class="img-fluid shadow"
                    />
                  </figure>
                  <p>
                    <span class="font-weight-bold">Dr Raju</span>
                    Welcomes, all of you to this world of blog. Some text about
                    this blog entry.  mauris neque quam,
                    fermentum ut nisl vitae, convallis maximus nisl. Sed mattis
                    nunc id lorem euismod placerat. Vivamus porttitor magna
                    enim, ac accumsan tortor cursus at. Phasellus sed ultricies
                    mi non congue ullam corper. Praesent tincidunt sedtellus ut
                    rutrum. Sed vitae justo condimentum, porta lectus vitae,
                    ultricies congue gravida diam non fringilla.
                  </p>
                  <p>
                    Sunt in culpa qui officia deserunt mollit anim id est
                    laborum consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco.
                  </p>
                  <div class="d-flex justify-content-between left_div_btns">
                    <div>
                      <button class="left_div__like" id="like_btn">
                        <i class="fa fa-thumbs-up"></i>Like
                      </button>
                    </div>
                    <div>
                      <button class="left_div__reply" onclick="reply('reply1')">
                        Replies <badge class="bg-white text-dark p-2">1</badge>
                      </button>
                    </div>
                  </div>
                  <div class="replies" id="reply1">
                    <div
                      class="
                        d-flex
                        justify-content-start
                        flex-row
                        align-items-center
                        card
                        reply_card
                        py-3
                      "
                    >
                      <div class="reply_img mx-2 align-self-center">
                        <img
                          src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png"
                        />
                      </div>
                      <div class="reply_text__left">
                        <p class="blog_title">
                          <span class="font-weight-bold"> User, </span> May 21,
                          2021, 7:20 PM
                        </p>
                        <p>Awesome, Sir thanks for providing.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 2nd topic  -->
                <div class="col-12 card p-4 shadow blog_left__div">
                  <div
                    class="
                      d-flex
                      justify-content-center
                      align-items-center
                      flex-column
                      pt-3
                      pb-5
                    "
                  >
                    <h1 class="text-uppercase">Mental Health</h1>
                    <p class="blog_title">
                      <span class="font-weight-bold"> Meditation is key </span>
                      May 22, 2021
                    </p>
                  </div>
                  <figure class="right_side_img mb-5">
                    <img
                      src=""
                      class="img-fluid shadow"
                    />
                  </figure>
                  <p>
                    <span class="font-weight-bold">Dr Venky</span>
                    Welcomes, all of you to my world of blog. Some text about
                    this blog entry. nd mauris neque quam,
                    fermentum ut nisl vitae, convallis maximus nisl. Sed mattis
                    nunc id lorem euismod placerat. Vivamus porttitor magna
                    enim, ac accumsan tortor cursus at. Phasellus sed ultricies
                    mi non congue ullam corper. Praesent tincidunt sedtellus ut
                    rutrum. Sed vitae justo condimentum, porta lectus vitae,
                    ultricies congue gravida diam non fringilla.
                  </p>
                  <p>
                    Sunt in culpa qui officia deserunt mollit anim id est
                    laborum consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco.
                  </p>
                  <div class="d-flex justify-content-between left_div_btns">
                    <div>
                      <button class="left_div__like" id="like_btn">
                        <i class="fa fa-thumbs-up"></i>Like
                      </button>
                    </div>
                    <div>
                      <button class="left_div__reply" onclick="reply('reply3')">
                        Replies <badge class="bg-white text-dark p-2">4</badge>
                      </button>
                    </div>
                  </div>
                  <div class="replies" id="reply3">
                    <div
                      class="
                        d-flex
                        justify-content-start
                        flex-row
                        align-items-center
                        card
                        reply_card
                        py-3
                      "
                    >
                      <div class="reply_img mx-2 align-self-center">
                        <img
                          src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png"
                        />
                      </div>
                      <div class="reply_text__left">
                        <p class="blog_title">
                          <span class="font-weight-bold"> UAER1, </span> May 21,
                          2021, 9:20 PM
                        </p>
                        <p>Informative content.</p>
                      </div>
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-start
                        flex-row
                        align-items-center
                        card
                        reply_card
                        py-3
                      "
                    >
                      <div class="reply_img mx-2 align-self-center">
                        <img
                          src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png"
                        />
                      </div>
                      <div class="reply_text__left">
                        <p class="blog_title">
                          <span class="font-weight-bold">
                            user2,
                          </span>
                          june 12, 2021, 7:20 PM
                        </p>
                        <p>Awesome,  I love your content.</p>
                      </div>
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-start
                        flex-row
                        align-items-center
                        card
                        reply_card
                        py-3
                      "
                    >
                      <div class="reply_img mx-2 align-self-center">
                        <img
                          src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png"
                        />
                      </div>
                      <div class="reply_text__left">
                        <p class="blog_title">
                          <span class="font-weight-bold"> User, </span> May 21,
                          2021, 7:20 PM
                        </p>
                        <p>Awesome.</p>
                      </div>
                    </div>
                    <div
                      class="
                        d-flex
                        justify-content-start
                        flex-row
                        align-items-center
                        card
                        reply_card
                        py-3
                      "
                    >
                      <div class="reply_img mx-2 align-self-center">
                        <img
                          src="https://img.icons8.com/doodle/48/000000/user-male-skin-type-5.png"
                        />
                      </div>
                      <div class="reply_text__left">
                        <p class="blog_title">
                          <span class="font-weight-bold"> SONU, </span> May 22,
                          2021, 7:20 PM
                        </p>
                        <p>Nice</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  *******************************************************
            **********************************************************.
            right side of the div
            *******************************************************
            **********************************************************
            -->
            <div
              class="col-lg-3 col-md-7 col-11 justify-content-end m-lg-0 m-auto"
            >
              <div class="row gy-5 left_div__blog">
             

                <!-- popular post -->
                <div class="popular_post">
                  <div class="right_div__title py-4 pl-2">
                    <h2>Popular Posts</h2>
                  </div>
                  <div class="right_sub__div shadow">
                    <div class="row">
                      <div class="col-3 popular_post__img1 py-2 pl-2"></div>
                      <div class="col-9">
                        <h3>Dr Sashi</h3>
                        <p class="text-capitalize">Top Virilogisy</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 popular_post__img2 py-2 pl-2"></div>
                      <div class="col-9">
                        <h3>Dr MK Agarwal</h3>
                        <p class="text-capitalize">Psychologist</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 popular_post__img3 py-2 pl-2"></div>
                      <div class="col-9">
                        <h3>Dr CK Naidu</h3>
                        <p class="text-capitalize">Cheif Vedanta Hospitals</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 popular_post__img4 py-2 pl-2"></div>
                      <div class="col-9">
                        <h3>Dr Steve </h3>
                        <p class="text-capitalize">Researcher</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- advertise -->
                <div class="right_div_post">
                  <div class="right_div__title py-4 pl-2">
                    <h2>Help Section</h2>
                  </div>
                  <div class="right_sub__div">
                    <div class="adevetise_img bg-light shadow">
                     
                        <p>1. Urgent need of Oxygen in Dwarka Delhi.Plese contact me on 9431... </p>
                    <p>2. Need help.Please i need fabflu for my sister  in ring road,surat.Please mesasge me.I have doctors precription.</p>
                <p>3. Urgent!!!! I need Icu  in Noida.Plese help me ...</p>    
                </div>
                  </div>
                </div>
                <!-- tags -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p class="text-center py-5 bg-light">
       By ©Abhishek
      </p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      const like = document.getElementById("like_btn");
      const singleClick = () => {
        like.style.fontWeight = "bold";
        like.style.background = "#bbe1fa";
        like.style.color = "#1b262c";
        like.innerHTML = "✓ Liked";
      };
      const doubleClick = () => {
        like.style.fontWeight = "normal";
        like.style.background = "#3282b8";
        like.style.color = "#fff";
        like.innerHTML = "Like";
      };
      var clickCount = 0;
      like.addEventListener(
        "click",
        function () {
          clickCount++;
          if (clickCount === 1) {
            singleClickTimer = setTimeout(function () {
              clickCount = 0;
              singleClick();
            }, 400);
          } else if (clickCount === 2) {
            clearTimeout(singleClickTimer);
            clickCount = 0;
            doubleClick();
          }
        },
        false
      );
      // show and hide the replies
      const reply = (rep) => {
        console.log("hi");
        // debugger;
        var res = document.getElementById(rep);
        console.log(res);
        if (res.className == "replies") {
          res.className = "thapa_show";
          res.style.WebkitTransition = "all 0.3s ease";
          // res.style.transition = 'all 0.3s ease';
          // console.log(thapa_show);
        } else if (res.className == "thapa_show") {
          // res.className = " ";
          console.log("thapa show");
          res.className = "replies";
        }
      };
    </script>
  </body>
</html>
