<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
     <link rel="stylesheet" href="css/black.css">
     <style>
       .blackmarketing{text-align: center;}
     </style>
</head>
<body>
  
    <div class="blackmarketing">
      <h1>BLACK MARKETING</h1>
  
      <div class="whol">
        <div class="form-style-2">
          <div id="raise" class="form-style-2-heading">Raise your voice</div>
          <form action="/register" method="post">
            <label for="field1"
              ><span>Name </span
              ><input
                type="text"
                class="input-field"
                name="name"
                value=""
                placeholder="Please enter your Name"
                required
            /></label>
            <label for="field2"
              ><span>Email </span
              ><input
                type="text"
                class="input-field"
                name="emai"
                value=""
                placeholder="Please enter your Email id"
            /></label>
            <label
              ><span>Telephone</span
              ><input
                type="number"
                class="tel-number-field"
                name="telephone"
                placeholder="Please enter your number"
                value=""
                required
              />
            </label>
            <label for="field4"
              ><span>State <span class="required">*</span></span
              ><select name="state" class="select-field">
                <option value="bihar">Bihar</option>
                <option value="gujarat">Gujarat</option>
                <option value="uttar pradesh">Uttar Pradesh</option>
              </select></label
            >
            <label for="field2"
              ><span>City <span class="required">*</span></span
              ><input
                type="text"
                class="input-field"
                name="city"
                value=""
                placeholder="Please enter your city"
                required
            /></label>

            <div class="check">
              Ambulance<input
                type="checkbox"
                class="v"
                name="ambulance"
                value="Boat"
              />
              &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Remdisiever
              <input type="checkbox" class="v" name="rem" value="Car" /><br />
              Oxygen&nbsp; &nbsp; &nbsp;
              <input type="checkbox" class="v" name="oxy" value="Bike" />
              &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Others &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp;<input
                type="checkbox"
                class="v"
                name="others"
                value="Bat"
              />
            </div>

            <label for="field5"
              ><span>Message <span class="required">*</span></span
              ><textarea
                class="input-field"
                class="textarea-field"
                name="message"
                value=""
                cols="40"
                rows="4"
              >
              </textarea>
            </label>
            <label for=""
              ><span>Proof <span class="required">*</span></span
              ><input type="file" name="proof" value="" required />
            </label>

            <label><span> </span><input type="submit" value="Submit" /></label>
          </form>
        </div>
        <div class="sidebar">
          <div class="fb">
            <h2>BLACK MARKET:A CURSE TO HUMANITY</h2>
            <p class="bbc">
              These scammers have taken enough advantage <br />
              &nbsp;&nbsp; of your emotions, innocence and desperate<br />
              &nbsp;&nbsp;&nbsp;&nbsp; needs. India, it’s your time to stand
              up<br />
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp;and fight back.<br /><br />
              So tell us so we could identify the common scammers. We share this
              database to police keeping your identity secret.
            </p>
          </div>
        </div>
      </div>
    </div>  
</body>
</html>