<h1>partial sabme rhega lkjdhss</h1>
    <header class="header">
      <div class="left">
        <img
          src="C:\Users\Surabhi\Desktop\web dev\img\download.jpg"
          alt="lol"
        />
        <p class="IMGHEAD">NEO SPORTS</p>
      </div>
      <div class="mid">
        <ul class="navbar">
          <li><a href="">SCORES</a></li>
          <li><a href="">SCHEDULE</a></li>
          <li><a href="">IPL SPECIAL</a></li>
          <li><a href="">ARCHIVES</a></li>
        </ul>
      </div>
      <div class="right">
        <div class="search">
          <button class="btn">CONTACT</button>
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search this website"
          />
        </div>
      </div>
    </header>